<div class="container" style="padding: 40px 100px;">
    <h3>Reset Password</h3>
    <div class="box">
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Username">
                <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-info is-outlined">
                    Reset Password
                </button>
            </p>
        </div>
    </div>
</div>