<body>
    <div class="container"> 
        <h1>COMPUTER AND ACCESSORIES</h1>
        <div class="card-deck">
            <div class="card-deck">
                <div class="card" *ngFor='let i of card'>
                    <img class="card-img-top" src="{{i.img}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{i.title}}</h5>
                        <p class="card-text">{{i.price}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" style="padding: 30px 0px"> 
        <h1>CRAZY DEALS ON SMARTPHONES</h1>
        <div class="card-deck">
            <div class="card" *ngFor='let i of card1'>
                <img class="card-img-top" src="{{i.img}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{i.title}}</h5>
                    <p class="card-text">{{i.price}}</p>
                </div>
            </div>
        </div>
    </div> 
</body>
