<body>
<div class="container"> 
    <h1>TOP TV DEALS</h1>
    <div class="card-deck">
        <div class="card" *ngFor='let i of card'>
            <img class="card-img-top" src="{{i.img}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.price}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 30px;"> 
    <h1>COOL DEALS ON HOME APPLIANCES</h1>
    <div class="card-deck">
        <div class="card" *ngFor='let i of card1'>
            <img class="card-img-top" src="{{i.img}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.price}}</p>
            </div>
        </div>
    </div>


    <div class="card-deck" style = "padding: 10px 0px;">
        <div class="card" *ngFor='let i of card2'>
            <img class="card-img-top" src="{{i.img}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.price}}</p>
            </div>
        </div>
    </div>
</div>


</body>