<body>
    
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{img1}}" alt="Deal1" width="1100" height="500">   
                </div>
                <div class="carousel-item">
                    <img src="{{img2}}" alt="deal2" width="1100" height="500">  
                </div>
                <div class="carousel-item">
                    <img src="{{img3}}" alt="deal3" width="1100" height="500">  
                </div>
                <div class="carousel-item">
                    <img src="{{img4}}" alt="deal4" width="1100" height="500">  
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    
    <div class="container"> 
        <h1>Todays Hot Offers</h1>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="{{cad1}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">HP 15s Core i3 10th Gen - (8 GB/1 TB HDD/256 GB SSD/Windows 10 Home)</h5>
                    <p class="card-text">799$</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{cad2}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">JBL T110BT Wireless Pure Bass Bluetooth Headset with Mic (Blue, In the Ear) (JBLBHPTUNE110BT)
                    </h5>
                    <p class="card-text">39$</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{cad3}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Symphony 41L Room/Personal Air Cooler White</h5>
                    <p class="card-text">299$</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{cad1}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">HP 15s Core i7 10th Gen - (8 GB/1 TB HDD/256 GB SSD/Windows 10 Home)</h5>
                    <p class="card-text">1099$</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container"> 
        <h1>Offers on Air Conditioners</h1>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="{{cad4}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">LG 1.5 Ton 3 Star Inverter Split AC (1.5TMSQ18JNXA3S)</h5>
                    <p class="card-text">799$</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{cad5}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hitachi AC 1.5Ton SHIZEN 3100S Champion 3 Star Inverter (1.5TSHIZEN318HEEA3S)</h5>
                    <p class="card-text">699$</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{{cad6}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">BLUESTAR 1.5 Ton 3 Star Inverter Split AC (1.5TIC318VLTU3S)
                    </h5>
                    <p class="card-text">649$</p>
                </div>
            </div>
        </div>
    </div>

    
</body>